body, html{
  width:100%;
  text-align: center;
  background-image: url("../img/appleOrchard.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.justify{
  text-align: justify;
}

.center{
  /* margin-left: 50% */
  text-align: center;
}

.about-info{
  padding: 40px;
  background-color: #383838;
  opacity: .8;
  height: auto;
  width: 90%;
  color: white;
  /* margin-right: 50%; */
  /* margin-left: 50%; */
  margin: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-info:hover{
  opacity: .95;
}
