body, html{
  width:100vh;
  text-align: center;
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-format{
  color: white;
  text-align: center;
}
/* header.masthead {
  text-align: center;
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
} */
