.landing-page{
    width:100%;
    text-align: center;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

.header:hover{
  color: white;
}

.about-page{
  width:100%;
  text-align: center;
  background-image: url("../img/appleOrchard.jpg");
  background-repeat: no-repe3at;
  background-attachment: fixed;
  background-size: cover;
}

.nav-class{
  background-color: #383838;
  /* background: linear-gradient(#383838, #585858, #707070); */
  color: #DCDCDC;
  height: 50px;
  opacity: .8;
}


.font-playfair{
  font-family: 'Playfair Display', serif;
}

.header-text {
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  font-size: 80px;
}

.text-format{
  color: white;
  text-align: center;
}

.button-style{
  background-color: #585858;
  color: white;
  text-decoration-color: white;
}

.btn {
  font-family: 'Playfair Display', serif;
  /* font-weight: 300; */
}

.btn:hover{
  color: #C0C0C0;
}

header.masthead {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
/*  padding-left: 50%; */
}
