/* CSS - Cascading Style Sheet */

*{
  box-sizing: border-box;
  margin-bottom: 20px;
}

section.Header{
  width: 100%;
  border-style: solid;
  border-radius: 1px;
  background-color: #33B650;
}

section.AboutMe{
  border-style: solid;
  border-radius: 1px;
  width: 100%;
  align-items: flex-start;
  background-color: #33B650;

}

h3.AboutMe{

}

p.AboutMe{

}

img.AboutMe{

}

#imgClass{
  width: 20%;
  float: right;
  margin-top: .01%;
}

img.AboutMe{

}

section.OtherCourseWork{
  border-style: solid;
  border-radius: 1px;
  width: 100%;
  background-color: #33B650;

}

h3.OtherCourseWork{

}

h5.OtherCourseWork{

}

h3.Portfolio{

}

h5.Portfolio{

}

p.Portfolio{

}
.projects{
  /* margin: 1%; */
  margin: 0 auto;

}

.pone{
  border-style: solid;
  border-radius: 1px;
  padding: 5px;
  height: 100%;
}
.ptwo{
  border-style: solid;
  border-radius: 1px;
  padding: 5px;
  height: 100%;
}
.pthree{
  border-style: solid;
  border-radius: 1px;
  padding: 5px;
  height: 100%;

}

section.Portfolio{
  border-style: solid;
  border-radius: 1px;
  width: 100%;
  overflow: auto;
  background-color: #33B650;

}

.left{
  text-align: center;
}

.center{
  text-align: center;
}

.centerText{
  text-align: center;
}

.right{
  text-align: center;
}

h3.AboutTheCourse{
}

p.AboutTheCourse{

}

section.AboutTheCourse{
  width: 100%;
  border-style: solid;
  border-radius: 1px;
  background-color: #33B650;
}



body {
  background-color: #FFFFFF;
}
h1 {
  color: #960018;
}
h2 {
  color: #960018;
}
h3 {
  color: #960018;
}
h4 {
  color: #960018;
}
h5 {
  color: #960018;
}
p {
  color: #000000;
}
a{
  color: #9C0008;
}

.color-primary-0 { color: #000000 }	/* Main Primary color */
.color-primary-1 { color: #EBEBEB }
.color-primary-2 { color: #960018 }
.color-primary-3 { color: #000000 }
.color-primary-4 { color: #F30026 }

.color-complement-0 { color: #33B650 }	/* Main Complement color */
.color-complement-1 { color: #F4F4F4 }
.color-complement-2 { color: #9C0008 }
.color-complement-3 { color: #000000 }
.color-complement-4 { color: #FB000D }
