body, html{
  width:100%;
  text-align: center;
  background-color: #fff;
}

.enterinfo{
  text-align: center;
}

.del-btn{
  color: #ff8080;
  margin-left: 5px;
}

h3{
  font-family: 'Raleway', sans-serif;
}

.drpdwn{
  font-family: 'Raleway', sans-serif;
}
